.divbody { 
    padding-top: 50px;
    padding-bottom: 50px; 
    padding-right: 20%;
    padding-left: 20%;
    background-color: rgba(161, 255, 247, 0.589)
}
/*classi per i titoli*/
.h1-holiday { 
    text-align: center; 
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
    font-size: 40px;
    font-weight: bold; color: red; 
    border-radius: 25px;
    background: white;
    padding: 20px;
}
.h2-holiday { 
    font-size: 30px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
    color: orange; 
    border-radius: 25px;
    border-width: 200;
    background: white;
    padding: 10px;
}
.h1-hobby { 
    text-align: center; 
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
    font-size: 40px;
    font-weight: bold; color: rgb(98, 206, 241);
    border-radius: 25px;
    background: white;
    padding: 20px; 
}
.h2-hobby { 
    font-size: 30px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
    color: rgb(0, 158, 0); 
    border-radius: 25px;
    background: white;
    padding: 10px;
}
h3 { 
    font-size: 20px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-radius: 25px;
    background: #9edaff;
    padding: 10px;
}
/*classi per paragrafi, liste, link, immagini, allineamento*/
p, li, td, tr, a { 
    font-size: 18px;
    text-align: justify;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.picture {
    display: block;
    margin: 0px auto;
    text-align: center;
    padding-bottom: 10px;
}
.inline {
    display: inline-block;
    width: auto;
    height: auto;
    padding-top: 20px;
    padding-right: 100px;
    padding-bottom: 40px;
}
.solid-border {
    border-left-style: solid;
    border-width: 10px;
    border-color: rgb(0, 163, 228);
    padding: 10px;
}
.vertical-center {
    width: auto;
    height: 200px;
    margin: 0 auto;
    }
/*tabella*/
.table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  .table td, .table th { padding: 8px; }
  .table tr:nth-child(even){background-color: #f2f2f2;}
  .table tr:hover {background-color: rgb(255, 94, 0);}
  .table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #d4372c;
    color: white;
  }